{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} PASSWORD CHANGE {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-body">
                <h5 class="card-title">Password change</h5>
                <form method="POST">{% csrf_token %}
                    <!-- {{form.as_p}} -->
                    {{ form|crispy }}
                    <input type="submit" value="change" class="btn btn-primary">
                </form>
                <div class="text-right">
                    <a href="{% url 'password_reset' %}" class="btn btn-outline-danger m-3">Forgotten password?</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-2"></div>
</div>



{% endblock content %}