{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} PASSWORD RESET SUCCESSFULY {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-body">
                <h5 class="card-title">Password reset successfuly</h5>
                Your new password has set.
            </div>

            <div class="text-left">
                <a href="{% url 'login' %}" class="btn btn-primary m-3">Go to Log In</a>
            </div>

        </div>
    </div>
    <div class="col-2"></div>
</div>



{% endblock content %}