{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} PASSWORD RESET {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-body">
                <h5 class="card-title">Password reset</h5>
                We have emailed you instructions for setting your new password. You should receive the email shortly.
            </div>

        </div>
    </div>
    <div class="col-2"></div>
</div>



{% endblock content %}